<% for(let i=1; i <= numForms; i++) { %>
    <div class="form-wrapper">
        <h2>Груз <%= i %></h2>
        <div class="form">
            <label>
                Длина
                <input class="form-input" name="length<%= i %>" placeholder="Введите длину" required value="<%= defaultValues[i-1]?.length ?? '' %>" type="number" />
            </label>
            <label>
                Ширина
                <input class="form-input" name="width<%= i %>" placeholder="Введите ширину" required value="<%= defaultValues[i-1]?.width ?? ''  %>" type="number" />
            </label>
            <label>
                Высота
                <input class="form-input" name="height<%= i %>" placeholder="Введите высоту" required value="<%= defaultValues[i-1]?.height ?? '' %>" type="number" />
            </label>
            <label>
                Количество
                <input class="form-input" name="count<%= i %>" placeholder="Введите количество" required value="<%= defaultValues[i-1]?.count ?? '' %>" type="number" />
            </label>
            <label>
                Вес одной единицы
                <input class="form-input" name="weight<%= i %>" placeholder="Введите вес" required value="<%= defaultValues[i-1]?.weight ?? '' %>" type="number" />
            </label>
        </div>
    </div>
    <% } %>